.container {
  width: 100%;
  max-width: 1440px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
  padding: 0 20px;
}

.topContainer {
  overflow: auto;
}

.imageContainer {
  float: right;
  margin: 0 0 1em 2em;
  max-width: 600px;
}

.container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.container p {
  font-size: 1.2rem;
  line-height: 25px;
  text-align: justify;
}

.container ul {
  font-size: 1.2rem;
}

.image {
  width: 100%;
}

.imageLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 10px 20px;
}

.imageLinks a {
  text-decoration: none;
  color: #4361ee;
  font-weight: bold;
}

.imageLinks span {
  font-weight: bold;
  color: black;
}

.devNotes {
  margin: 50px 0;
}

.devNotes h2 {
  font-size: 2rem;
}

@media(max-width: 768px) {
  .imageContainer {
    float: none;
    margin: 0 auto 1em auto;
    max-width: 100%;
    text-align: center;
  }

  .image {
    max-width: 100%;
    display: block;
    margin: 0px;
  }

  .container p {
    margin: 0px;
  }
}

@media(max-width: 500px) {
  .imageLinks {
    font-size: 1rem;
    justify-content: space-between;
    padding: 20px 0;
  }
}